.favorites-page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  gap: 1rem;

  padding: 1rem;
  padding-bottom: 4rem;
}

.favorites-h2 {
  padding: 1rem;
}

.favorites-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 2rem;
}
