.favorites-page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  gap: 0.5rem;

  padding: 1rem;
  padding-bottom: 14rem;
}

.favorites-h2 {
  padding: 1rem;
}

.favorites-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 2rem;
}

@media screen and (max-width: 480px) {
  .favorites-container {
    display: flex;
    flex-direction: column;
  }
  .favorites-h2 {
    padding: 0rem;
  }
  .favorites-page {
    padding-block: 1rem;
    padding-inline: 0;
    padding-bottom: 2rem;
  }
}
