.search-page {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  gap: 1rem;
  /* height: 100vh; */
  min-height: 100vh;

  /* background: linear-gradient(rgba(130, 154, 132, 0.5), rgba(101, 89, 71, 0.4)) no-repeat; */

  background: linear-gradient(rgba(130, 154, 132, 0.5), rgba(101, 89, 71, 0.4)) no-repeat;
}
