.cocktail-card {
  display: grid;
  grid-template-rows: 1fr 30px;
  text-align: center;
  justify-items: center;

  gap: 0.5rem;
  padding: 1rem;
  background-color: rgba(186, 154, 123, 0.6);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);

  border-radius: 1rem;

  width: 400px;
  height: 500px;
}
.cocktail-card-link {
  height: 100%;
  width: 100%;
}

.cocktail-card:hover {
  color: #655947;
}

h2.cocktail-card-h2:hover {
  color: #655947;
}

.cocktail-card .hidden-h3 {
  display: none;
}

.cocktail-card:hover .hidden-h3 {
  display: block;
}

.load-card.loading {
  display: none;
}
