.header {
  position: relative;
  padding: 1rem;
  text-align: center;
  top: 0;

  width: 100%;

  background-color: hsla(125, 11%, 56%, 0.6);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.mobile-nav {
  display: none;
}

.header-link {
  display: flex;
  justify-content: center;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.desktop-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
}

.header-nav a {
  color: rgba(255, 255, 255, 1);
}

.header-nav a:hover {
  color: rgba(0, 0, 0, 0.555);
}

.header-link.active {
  color: rgba(0, 0, 0, 0.7);
}

.drop-down.menu {
  z-index: 3;
  position: absolute;
  right: 1rem;

  display: flex;
  flex-direction: column;

  background-color: whitesmoke;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

@media screen and (max-width: 480px) {
  .header {
    padding-block: 0.5rem;
  }
  .mobile-nav {
    display: flex;
  }
  .desktop-nav {
    display: none;
  }
  .header-nav {
    justify-content: space-between;
  }
}
