.ingredient-details.section {
  display: grid;
  grid-template-columns: 1fr 2fr;

  justify-content: center;
  /* align-items: center; */
  /* text-align: center; */

  padding: 1rem;

  /* gap: 2rem; */
}

.ingredient-details.section.hidden {
  display: grid;
  grid-template-columns: 1fr;

  justify-items: center;

  padding: 1rem;

  /* gap: 2rem; */
}

.ingredient-details-container {
  display: flex;
  flex-direction: column;
  justify-self: end;
  text-align: center;
  align-items: center;

  width: 70%;
}

.ingredient-details.hidden .ingredient-details-container {
  justify-self: center;
  width: 100%;
}

.ingredient-description-container {
  justify-self: start;

  width: 85%;
}

.ingredient-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.ingredient-img-wrapper {
  width: 300px;
  height: 400px;
  /* height: 100%; */
}
@media screen and (max-width: 480px) {
  .ingredient-details.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-y: hidden;

    gap: 1rem;
  }

  /* .ingredient-details.section::-webkit-scrollbar {
    display: none;
  } */
  .ingredient-details-container {
    width: 80%;
  }

  .ingredient-description-container {
    width: 100%;
  }

  .ingredient-img-wrapper {
    /* width: 300px;
    height: 300px; */

    height: 100%;
    width: 100%;
  }
}
